<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="proyects-container my-5">
    <h3 class="text-left mb-4"><strong>Portafolio</strong></h3>
    <div id="portfolioCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-around gap-3"> <!-- Añadir la clase gap-3 aquí -->
            <div class="project text-center">
              <div class="img-container">
                <img src="app/img/miprimeraweb.PNG" alt="Project 1" class="imagen-fluid">
                <div class="overlay">
                  <div class="text">Ejemplo</div>
                </div>
              </div>
              <button class="btn botonn btn-primary mt-3" (click)="openLink(1)">Leer más</button>
              <h3>Desarrollo Web</h3>
              <p>"Trabajar con Lu ha sido una experiencia increíble. Su habilidad para transformar nuestras ideas en una presencia digital efectiva es inigualable." - Mariana Figueroa</p>
            </div>
            <div class="project text-center">
              <div class="img-container">
                <img src="app/img/wordpress.PNG" alt="Project 3" class="imagen-fluid">
                <div class="overlay">
                  <div class="text">Ejemplo</div>
                </div>
              </div>
              <button class="btn botonn btn-primary mt-3" (click)="openLink(2)">Leer más</button>
              <h3>Programación</h3>
              <p>"Lucia superó nuestras expectativas con su profesionalismo y atención al detalle. Nuestro sitio web no solo es hermoso sino también funcional." - Javier Martínez</p>
            </div>
            <div class="project text-center">
              <div class="img-container">
                <img src="app/img/curriculum.PNG" alt="Mi Primera Web" class="imagen-fluid">
                <div class="overlay">
                  <div class="text">Ejemplo</div>
                </div>
              </div>
              <button class="btn botonn btn-primary mt-3" (click)="openLink(3)">Leer más</button>
              <h3>Diseño</h3>
              <p>La dedicación y la creatividad de Lu se reflejan en cada detalle de nuestro sitio web. Estamos encantados con el resultado y la facilidad de uso." - Isabella Gómez</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>