<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<body>
    <main>
      <div class="container col-10">
        <div class="row">
          <div class="text-section col-12 col-md-6">
            <h3 style="margin-left: 18px;">Transforma tus ideas en</h3>
            <h1 class="cursiva">Realidad digital</h1>
            <div class="text-section  col-10">
              <p>Soy <span class="highlight">Lucía</span>, una desarrolladora web que crea sitios modernos y funcionales. Mi misión es ayudarte a establecer una presencia en línea profesional y efectiva. </p>
              <p>Con una combinación de creatividad y habilidades técnicas, llevo tus proyectos desde la concepción hasta la implementación, asegurando una experiencia de usuario óptima y resultados de alta calidad.</p>
            </div>
            <button class="btn boton" (click)="redirectTo(1)">Leer más</button>
          </div>
          <div class="image-section col-12 col-md-6">
            <img src="app/img/inicio.PNG" alt="Project 3" class="img-fluid">
          </div>
        </div>
      </div>
      <hr class="divider">
      <div class="container col-10">
        <div class="row align-items-start">
          <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="square-img">
              <img src="app/img/wordpress.PNG" alt="EJEMPLO" class="img-fluid">
            </div>
          </div>
          <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="square-img">
              <img src="app/img/curriculum.PNG" alt="IDEJEMPLO" class="img-fluid">
            </div>
          </div>
          <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="square-img">
              <img src="app/img/miprimeraweb.PNG" alt="EJEMPLO" class="img-fluid">
            </div>
          </div>
          <div class="col-12 col-md-3 mb-3 mb-md-0 d-flex flex-column align-items-center">
            <h4 class="text-start fs-5">Construyendo sitios web con Propósito</h4>
            <p class="text-start">La creación de sitios web eficaces es un arte. Me esfuerzo para que cada proyecto cumpla su propósito, y elijo las herramientas y tecnologías adecuadas para lograrlo.</p>
            <button class="btn boton" (click)="redirectTo(2)">Leer más</button>
          </div>
        </div>
      </div>
      
    </main>
  </body>