<!-- navbar.component.html -->
<nav class="navbar navbar-dark" style="background: linear-gradient(to right, #FFB58A, #FF0065); height: 55px;">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100">
      <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-text ms-2">{{ pageTitle }}</span>
      <form class="d-flex flex-grow-1 justify-content-end me-5">
        <input class="form-control me-2" type="search" placeholder="Escribe aquí" aria-label="Search" style="max-width: 300px;">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
