<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    
  </style>
</head>

<body>
  <div class="container contact-container">
    <div class="left-column">
      <h1><strong>Contacto</strong></h1>
      <h4>Hablemos</h4>
      <p class="text-start">
        ¿Listo para llevar tu proyecto al siguiente nivel? Estoy aquí para ayudarte a transformar tus ideas en realidad. Ya sea que necesites un sitio web completamente nuevo, una actualización del actual o simplemente tengas alguna pregunta, estoy disponible para ti.
      </p>
      <p class="text-start fw-bold mb-1">E-mail:</p>
      <p class="text-start mb-1"><a href="mailto:lgonzalez621@isep-cba.edu.ar">micorreo@hola.com</a></p>
      <p class="text-start fw-bold mb-1">Linkedin:</p>
      <p class="text-start mb-1"><a href="https://www.linkedin.com/in/miperfienlace/">miperfilenlace</a></p>
    </div>
    <div class="right-column">
      <h5><strong>Formulario de Contacto</strong></h5>
      <p class="text-start">¿Listo para comenzar? Completa este formulario y estaré encantada de responderte lo antes posible.</p>
      <form class="form-container">
        <div class="contenedor">
          <div class="form-group mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control form-control-lg" placeholder="Tu nombre" required>
          </div>
          <div class="form-group mb-3">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Tu correo electrónico" required>
          </div>
          <div class="form-group mb-3">
            <label for="mensaje" class="form-label">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" class="form-control form-control-lg" placeholder="Tu mensaje" rows="4" style="height: 70px;" required></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn boton">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>