<!DOCTYPE html>
<html>
<body>
  <div class="container">
    <div class="card">
      <div class="profile-pic"></div>
      <h1>¡Hola!</h1>
      <h2>Soy Lucía González</h2>
      <p>Con años de experiencia en mi desarrollo web, he trabajado en una variedad de proyectos, desde páginas personales hasta campañas, sitios e comercio.</p>
      <p>Mi enfoque está en brindarles las mejores soluciones y contribuir a soluciones web que superen sus expectativas iniciales.</p>
      <button class="btn boton" (click)="redirectTo()">Mi trabajo</button>
    </div>
  </div>
</body>
</html>