@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* ------------------------------------------------------dashboard------------------------------------------------------ */
body {
   font-family: 'DM Sans' !important;
   color: #3B4848 !important;
   line-height: 1.2 !important;
}

.cursiva {
   font-family: 'Mr Dafoe';
   font-size: 3rem;
   color: #FF0065;
   text-align: center;
   line-height: 0.3;
}

.text-section .highlight {
  color: #FF0065;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-section {
  padding: 20px;
  text-align: justify;
}

.image-section {
  text-align: center;
  padding: 20px;
}

.image-section img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.col-12.col-md-3 {
  flex: 1 0 0; 
  padding: 10px;
}

.col-md-3 {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col-md-3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.boton {
  background-color: #FF4F63 !important;
  color: #fff !important;
  padding: 8px 30px !important;
  border: none !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  margin-top: 10px !important;
  text-align: center!important;
  font-size: 13px !important;
  margin-left: 20px !important;
}

.cta:hover {
  background-color: #e13b56;
  color: #fff;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-auto {
  margin-top: auto;
}

.divider {
   border: 0;
   height: 3px;
   background: #ddd;
   margin: 20px 0;
}

.img-fluid {
  max-width: 80%;
  height: 80% !important;
  opacity: 0.8;
}

.image-section img {
  width: 80% !important;
  height: 70% !important;
  object-fit: cover;
  border-radius: 10px;
}

.square-img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.square-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #FFB58A;
  box-shadow: 0 0 15px rgba(225, 59, 86, 0.7);
}

/* ------------------------------------------------------navbar------------------------------------------------------ */
.navbar {
  background: linear-gradient(to right, #FFB58A, #FF0065) !important;
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center; 
}

.navbar-toggler {
  padding: 0.25rem 0.5rem; 
}

.navbar-text {
  font-size: 1rem; 
}

.form-control {
  font-size: 0.75rem; 
  height: 30px;
  margin-right: 5px;
}

.btn-outline-light {
  height: 30px; 
  margin: 5px; 
  max-width: 300px;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
}

form {
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------sidebar---------------------------------------------------------- */
.bg-light {
  background-color: #f8f9fa !important;
}

.nav-link.active,
.nav-pills .nav-link.active {
  background: linear-gradient(45deg, #FFB58A, #ff1654);
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: linear-gradient(45deg, #FFB58A, #ff1654) !important;
  color: white !important;
}

.nav-link:hover {
  background-color: #ff80a223;
  color: #ff1654;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
}

.sidebar-open {
  width: 280px;
  opacity: 1;
  transform: translateX(0);
}

.main-content {
  transition: margin-left 0.3s ease;
}

.sidebar-open .main-content {
  margin-left: 280px;
}

.nav-link {
  color: #333;
}

/* ------------------------------------------------------sobremi---------------------------------------------------------- */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-pic {
  height: 150px;
  border-radius: 50%;
  background-color: #eee;
  margin-bottom: 20px;
}

p {
  text-align: center;
  line-height: 1.5;
}

/* ------------------------------------------------------contacto---------------------------------------------------------- */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px; 
  margin-top: 50px; 
}

.contenedor {
  background-color: #f9f9f9;
  width: 100%;
}

.left-column {
  flex: 1;
  max-width: 500px; 
}

.right-column {
  flex: 1;
  max-width: 500px; 
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.form-group textarea {
  resize: vertical;
}

/* ------------------------------------------------------proyectos---------------------------------------------------------- */
.proyects-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.project {
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.project h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.project p {
  font-size: 16px;
  color: #666;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
}

.project:hover .overlay {
  opacity: 1;
}

.text {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-size: 100%, 100%;
  background-color: #fff;
}

.project .img-container {
  position: relative;
}
.project .img-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}
.project .img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(253, 95, 126, 0.376);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .img-container:hover .overlay {
  opacity: 1;
}
.project .img-container .text {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.botonn {
  background-color: #FF4F63 !important;
  color: #fff !important;
  padding: 8px 30px !important;
  border: none !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  margin-top: 20px !important;
  text-align: center!important;
  font-size: 13px !important;
  margin-bottom: 8px !important;
}

.imagen-fluid {
  opacity: 0.8;
  border: 2px solid #FFB58A;
  box-shadow: 0 0 15px rgba(225, 59, 86, 0.7);
}

/* ------------------------------------------------------footer---------------------------------------------------------- */
footer {
  background: linear-gradient(to right, #FFB58A, #FF0065)
}
